# dependencies
node_modules

# builds
dist
server/public

# env files
.env
.env.*
!.env.example

# OS / tooling junk
.DS_Store
.local/

# archives
*.tar.gz
*.zip

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea


